@model List<Asignatura>

@{
    ViewData["Title"] = "Asignatura Index";
}

<div class="text-left"> 
    @foreach (var asignatura in Model)
    {
        <partial name="_ObjEscuelaSimple" model="asignatura"/>        
    }  
</div>
