@model Asignatura

@{
    ViewData["Title"] = "Asignatura Index";
}

<div class="text-left">
    <p class="display-4">
        Asignatura: @Model.Nombre <br/>
        Id: @Model.UniqueId

    </p>
    
</div>
